RewriteEngine On
RewriteBase /trouve_ton_artisan/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /trouve_ton_artisan/index.html [L]
