@font-face {
  font-family: 'Graphik';
  src: url('./assets/fonts/Graphik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src:  url('./assets/fonts/Graphik-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src:  url('./assets/fonts/Graphik-BlackItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}




body {
  margin: 0;
  font-family: 'Graphik', 
    sans-serif;
  -webkit-font-smoothing: Graphik;
  -moz-osx-font-smoothing: Graphik;
}

/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
